@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  /* Link Color */
  --link_color--primary: #5c6efb;
  --link_color--secondary: #5f5f5f;

  /* Backgroud Color */
  --bg_color--dark: #171717;
  --container_bg_color--dark: #1d1d1d;

  /* Global Color */
  --primary_color: #7290e9;
  --secondary_color: #4962ad;

  /* Input Bg Color */
  --input_bg_color--dark: #2B2B2B;

  /* Text Color */
  --text_color--white: #ffffff;
  --text_color--black: #000000;
  --text_color--gray: #525252;

  /* Caret Color */
  --caret_color: #ffffff;
}

.material-symbols--circle {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 22q-2.075 0-3.9-.788t-3.175-2.137q-1.35-1.35-2.137-3.175T2 12q0-2.075.788-3.9t2.137-3.175q1.35-1.35 3.175-2.137T12 2q2.075 0 3.9.788t3.175 2.137q1.35 1.35 2.138 3.175T22 12q0 2.075-.788 3.9t-2.137 3.175q-1.35 1.35-3.175 2.138T12 22'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.iconoir--search {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m17 17l4 4M3 11a8 8 0 1 0 16 0a8 8 0 0 0-16 0'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

body {
  background-color: var(--bg_color--dark);
}

input {
  outline: none;
  border: none;
  background-color: var(--input_bg_color--dark);
  color: var(--text_color--white);
  caret-color: var(--caret_color);
}
button {
  outline: none;
  border: none;
}
button:hover {
  background: var(--secondary_color);
}

#form, #home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#form .container {
  width: 334px;
}
#home .container {
  width: 415px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 16px;
  background-color: var(--container_bg_color--dark);
}

#form .container h1 {
  color: var(--text_color--white);
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 900;
}
#form .container form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#form .container .input_area {
  display: flex;
  flex-direction: column;
  text-align: left;
}
#form .container .input_area label {
  margin-bottom: 8px;
  color: var(--text_color--white);
  font-weight: 500;
  font-size: 10px;
}
#form .container input,
#form .container button {
  height: 45px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: 600;
}
#form .container input {
  padding: 10px;
}
#form .container input:hover {
  background-color: #383838;
}
#form .container button {
  background-color: var(--primary_color);
  color: var(--text_color--black);
  cursor: pointer;
}
#form .container form a {
  display: flex;
  justify-content: flex-end;
  color: var(--link_color--secondary);
  margin-bottom: 20px;
}
#form .container p {
  font-size: 12px;
  font-weight: 600;
  color: var(--text_color--gray);
}
#form .container a {
  font-size: 12px;
  font-weight: 700;
  color: var(--link_color--primary);
}

#navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 26px;
  border-bottom: 1px solid #313131;
}
#navbar .user {
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar .user_info {
  padding-left: 15px;
}
#navbar img {
  object-fit: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
#navbar .myname {
  font-size: 16px;
  font-weight: 400;
  color: var(--text_color--white);
}
#navbar p {
  font-size: 10px;
  margin-top: 12px;
  color: var(--text_color--white);
  position: relative;
}
#navbar .status_dot {
  font-size: 8px;
  color: #468669;
  position: absolute;
  top: 3px;
  right: 18px;
}
#navbar button {
  background: var(--primary_color);
  color: var(--text_color--black);
  padding: 7px 15px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}
#search {
  width: 100%;
  padding: 10px 0;
  margin: 8px 0;
  position: relative;
}
#search input {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 0 10px 34px;
}
#search .search_icon {
  position: absolute;
  top: 24px;
  left: 10px;
  width: 16px;
  height: 16px;
  color: #646464;
}