@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  /* Link Color */
  --link_color--primary: #5c6efb;
  --link_color--secondary: #5f5f5f;

  /* Backgroud Color */
  --bg_color--dark: #171717;
  --container_bg_color--dark: #1d1d1d;

  /* Global Color */
  --primary_color: #7290e9;
  --secondary_color: #4962ad;

  /* Input Bg Color */
  --input_bg_color--dark: #2B2B2B;

  /* Text Color */
  --text_color--white: #ffffff;
  --text_color--black: #000000;
  --text_color--gray: #525252;

  /* Caret Color */
  --caret_color: #ffffff;
}

.material-symbols--circle {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 22q-2.075 0-3.9-.788t-3.175-2.137q-1.35-1.35-2.137-3.175T2 12q0-2.075.788-3.9t2.137-3.175q1.35-1.35 3.175-2.137T12 2q2.075 0 3.9.788t3.175 2.137q1.35 1.35 2.138 3.175T22 12q0 2.075-.788 3.9t-2.137 3.175q-1.35 1.35-3.175 2.138T12 22'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.iconoir--search {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m17 17l4 4M3 11a8 8 0 1 0 16 0a8 8 0 0 0-16 0'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.ep--arrow-left {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23000' d='M609.408 149.376L277.76 489.6a32 32 0 0 0 0 44.672l331.648 340.352a29.12 29.12 0 0 0 41.728 0a30.592 30.592 0 0 0 0-42.752L339.264 511.936l311.872-319.872a30.592 30.592 0 0 0 0-42.688a29.12 29.12 0 0 0-41.728 0'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.bi--send-fill {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26l.001.002l4.995 3.178l3.178 4.995l.002.002l.26.41a.5.5 0 0 0 .886-.083zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215l7.494-7.494l1.178-.471z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

body {
  background-color: var(--bg_color--dark);
}
input {
  outline: none;
  border: none;
  background-color: var(--input_bg_color--dark);
  color: var(--text_color--white);
  caret-color: var(--caret_color);
}
button {
  outline: none;
  border: none;
}
button:hover {
  background: var(--secondary_color);
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
img {
  object-fit: cover;
  border-radius: 50%;
}

#form,
#home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#form .container {
  width: 334px;
  border-radius: 16px;
  padding: 30px;
}
#home .container {
  width: 415px;
  border-radius: 16px;
  padding: 30px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--container_bg_color--dark);
}

#form .container h1 {
  color: var(--text_color--white);
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 900;
}
#form .container form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#form .container .input_area {
  display: flex;
  flex-direction: column;
  text-align: left;
}
#form .container .input_area label {
  margin-bottom: 8px;
  color: var(--text_color--white);
  font-weight: 500;
  font-size: 10px;
}
#form .container input,
#form .container button {
  height: 45px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 14px;
}
#form .container input {
  padding: 10px;
  font-weight: 400;
}
#form .container input:hover {
  background-color: #383838;
}
#form .container button {
  background-color: var(--primary_color);
  color: var(--text_color--black);
  cursor: pointer;
  font-weight: 600;
}
#form .container form a {
  display: flex;
  justify-content: flex-end;
  color: var(--link_color--secondary);
  margin-bottom: 20px;
}
#form .container p {
  font-size: 12px;
  font-weight: 600;
  color: var(--text_color--gray);
}
#form .container a {
  font-size: 12px;
  font-weight: 700;
  color: var(--link_color--primary);
}

#navbar,
#chats a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar {
  padding-bottom: 26px;
  border-bottom: 1px solid #313131;
}
#navbar .user,
#chats .user {
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar .text_area,
#chats .text_area {
  margin-left: 12px;
  word-break: break-all;
  width: 160px;
}
#navbar img {
  width: 50px;
  height: 50px;
}
#navbar .name {
  font-size: 16px;
  font-weight: 400;
  color: var(--text_color--white);
}
#navbar .text_area p {
  display: flex;
  align-items: center;
  margin-top: 12px;
  font-size: 10px;
  color: var(--text_color--white);
}
#navbar .status_dot {
  margin-left: 4px;
  font-size: 8px;
  color: #468669;
}
#navbar button {
  background: var(--primary_color);
  color: var(--text_color--black);
  padding: 7px 15px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

/* ---------- */
/* Search     */
/* ---------- */
#search {
  width: 100%;
  padding: 10px 0;
  margin-top: 8px;
  position: relative;
}
#search input {
  width: 100%;
  height: 45px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0 10px 34px;
}
#search .search_icon {
  position: absolute;
  top: 25px;
  left: 10px;
  width: 16px;
  height: 16px;
  color: #646464;
}

#chats {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
  height: 340px;
  overflow: scroll;
}
#chats .chat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  margin: 5px 0;
}
#chats .chat:hover {
  background-color: #2B2B2B;
}
#chats img {
  width: 40px;
  height: 40px;
}
#chats .name {
  font-size: 14px;
  font-weight: 400;
  color: var(--text_color--white);
}
#chats p {
  font-size: 12px;
  margin-top: 8px;
  font-weight: 300;
  color: var(--text_color--gray);
}
#chats .status_dot {
  color: #468669;
}

/* ---------- */
/* Chat       */
/* ---------- */
#chat {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#chat .container {
  width: 380px;
  border-radius: 16px;
  overflow: hidden;
}
#chat .header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: #111111;
}
#chat a {
  line-height: 0;
}
#chat .exit_arrow {
  width: 22px;
  height: 22px;
  color: #ffffff;
}
#chat .user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
}
#chat img {
  width: 36px;
  height: 36px;
}
#chat .text_area {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  word-break: break-all;
  width: 160px;
}
#chat .name {
  font-size: 14px;
  font-weight: 400;
  color: var(--text_color--white);
}
#chat .text_area p {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-size: 10px;
  color: var(--text_color--white);
}
#chat .status_dot {
  margin-left: 4px;
  font-size: 8px;
  color: #468669;
}
#chat .chat_area {
  width: 100%;
  height: 500px;
  padding: 0px 20px;
  overflow: scroll;
  padding-top: 20px;
}
#chat .message {
  display: flex;
  margin-bottom: 26px;
}
#chat .outgoing {
  flex-direction: row-reverse;
}
#chat .message_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 6px;
}
#chat .message_info img {
  width: 30px;
  height: 30px;
}
#chat .message_info p {
  color: var(--text_color--gray);
  font-size: 10px;
  font-weight: 400;
  margin-top: 4px;
}
#chat .message_content {
  max-width: 80%;
  display: flex;
  flex-direction: column;
}
#chat .message_content .send_message {
  display: flex;
  flex-direction: column;
}
#chat .message_content .send_message p {
  padding: 10px 12px;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 400;
  word-break: break-all;
  max-width: 210px;
  margin-bottom: 4px;
}
#chat .incoming .message_content p {
  color: #c8c8c8;
  background-color: #2B2B2B;
}
#chat .outgoing .message_content p {
  color: var(--text_color--white);
  background-color: #5c6efb;
}
#chat .send_time {
  color: var(--text_color--gray);
  font-size: 10px;
  font-weight: 400;
}
#chat .incoming .send_time {
  margin-left: auto;
}
#chat .input_area {
  width: 100%;
  padding: 16px 10px;
  display: flex;
  align-items: center;
  background-color: #111111;
}
#chat .input_area input {
  width: 100%;
  height: 40px;
  border-radius: 16px;
  padding: 14px 10px;
  margin-right: 6px;
}
#chat .input_area button {
  padding: 8px;
  border-radius: 50%;
  background-color: #5c6efb;
  line-height: 0;
}
#chat .input_area button .send {
  width: 18px;
  height: 18px;
  background-color: white;
}